$white-color: #fff;
$darker-font: #bdb7dd; // For less important elements

$dark-background: #2c3142;
$secondary-dark-background: #202430;

// FONT SIZE
$default-font-size: 1.1rem;
$big-font-size: 4rem;
$mid-font-size: 2.2rem;
